{{template "header"}}
      <title>Topic Page</title>
  </head>

  <body>
      <div class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            {{template "navbar" .}}
          </div>
      </div>
      <br>
      <br>
      <br>
      <div class="container">
        <h1>Topic List</h1>
        <a href="/topic/add" class="btn btn-default">Add Topic</a>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Last Update</th>
              <th>Browse</th>
              <th>Reply</th>
              <th>Last Reply</th>
              <th>Operate</th>
            </tr>
          </thead>
          <tbody>
            {{range .Topics}}
            <tr>
              <td>{{.Id}}</td>
              <td><a href="/topic/view/{{.Id}}">{{.Title}}</a></td>
              <td>{{.Updated}}</td>
              <td>{{.Views}}</td>
              <td>{{.ReplyCount}}</td>
              <td>{{.ReplyTime}}</td>
              <td>
                <a href="/topic/modify?tid={{.Id}}">Modify</a>
                <a href="/topic/delete/{{.Id}}">Delete</a>
              </td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>

      <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js" ></script>
      <script type="text/javascript" src="/static/js/bootstrap.min.js" ></script>
  </body>
</html>
